<mat-toolbar color="primary">
  <span>Nasa Pics</span>
</mat-toolbar>

<h2>Control Panel</h2>

<mat-card>
  <mat-card-header>Date</mat-card-header>
  <mat-card-content><app-date-picker [(date)]="date"/></mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>Size</mat-card-header>
  <mat-card-content><app-range-slider [(zoomSize)]="zoomSize"/></mat-card-content>
</mat-card>

<h2>Display Panel</h2>

<mat-card>
  <app-nasa-image [zoomSize]="zoomSize" [date]="date"></app-nasa-image>
</mat-card>
<router-outlet></router-outlet>
